<div class="container">
    <div class="icon">
        <img id="home" routerLink="/dashboard" routerLinkActive="active">
        <figcaption>Home</figcaption>
    </div>
    <div class="icon">
        <img id="course" routerLink="/course" routerLinkActive="active">
        <figcaption>Course</figcaption>
    </div>
    <div class="icon">
        <img id="add" routerLink="/add" routerLinkActive="active">
        <figcaption>Add</figcaption>
    </div>
    <div class="icon">
        <img id="quiz" routerLink="/quiz" routerLinkActive="active">
        <figcaption>Quiz</figcaption>
    </div>
    <div class="icon">
        <img id="profile" routerLink="/profile" routerLinkActive="active">
        <figcaption>Profile</figcaption>
    </div>
</div>