<div class="title-container">
    <div class="title">
        <h1>Sub-Categories</h1>
        <button type="button" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</div>
<div class="container">
    <div class="main-content">


        <ng-container *ngIf="courseSubCategory.length > 0; else noSubCategoryMessage">
            <ng-container *ngFor="let subCategory of courseSubCategory">
                <div class="course-sub-category-card" (click)="subCategorySelected(subCategory.id)" matRipple>
                    <div class="row-1">
                        <div class="image">
                            <img [src]="subCategory.imageURL" alt="">
                        </div>
                        <div class="title">
                            <h3>{{subCategory.name}}</h3>
                            <p>{{subCategory.numberOfVedios}} Vedios</p>
                        </div>
                    </div>
                    <div class="row-2">
                        <p>{{subCategory.discription}}</p>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #noSubCategoryMessage>
            <h3>No Sub-Category Available!</h3>
        </ng-template>
    </div>
</div>